# Main Data Structures and Inbuilt Functions
## In this study we'll cover basic structures of Python languages and inbuilt functions that help us manipulate the data stored in these structures.
- Strings;
- Lists;
- Sets;
- Dictionaries;
- Tuples.

### Strings

Strings are object that contains a sequence od character data, and learning to manipulating those characteres is a important part of coding any program.

In [117]:
first_name ='Thomaz'
middle_name = 'Loff'
last_name = 'da Silva'
age=23
complete_name = (first_name+' '+middle_name+' '+last_name)
name_age=first_name+str(age)

In [40]:
len(first_name) #Gives us the lenght of the string, how many charecteres there are in the sequence

6

If we want to access a especific character in the sequence, simply use its index between [ ]. Remembering it goes from 0 to len(str) - 1

In [44]:
first_name[0] + first_name[]

'Tz'

We can also iterate over strings using loops as follows

In [57]:
for char in complete_name:
    print('Current character: ',char)

Current character:  T
Current character:  h
Current character:  o
Current character:  m
Current character:  a
Current character:  z
Current character:
Current character:  L
Current character:  o
Current character:  f
Current character:  f
Current character:
Current character:  d
Current character:  a
Current character:
Current character:  S
Current character:  i
Current character:  l
Current character:  v
Current character:  a

#### Inbuilt string functions

There many functions built in Python language to manipulate strings. To show them simply write the string variable name followed by dot '.' and press TAB.

In [ ]:
last_name.#pressTAB

In [64]:
print(complete_name.split('a'))
print(complete_name.split(' '))
#splits the string according to the separator string, that is deleted

['Thom', 'z Loff d', ' Silv', '']
['Thomaz', 'Loff', 'da', 'Silva']

In [67]:
complete_name.replace('o','X')
#identifies the first string passed, and switches it for the new one

'ThXmaz LXff da Silva'

In [76]:
print(complete_name.upper()) #make it upper case
print(complete_name.lower()) #make it lower case
print(complete_name.swapcase()) #make lower into upper and upper into lower

THOMAZ LOFF DA SILVA
thomaz loff da silva
tHOMAZ lOFF DA sILVA

In [230]:
print(complete_name.find('a'))
print(complete_name.find('a '))
#finds the index of very first character of the string passed on the string evaluated

#we can also identify the initial a final indexes verified
print(complete_name.find('a',14,20))

4
13
19

In [90]:
complete_name.count('a') #count how many times the substring appears

3

In [99]:
'_'.join(first_name)
#insert the initial string between any element of the second
#the second string can be any iterable object

'T_h_o_m_a_z'

In [124]:
#Some testing methods
print(first_name.isalnum())
print(name_age.isalnum())
#all characters are alphanumeric
print('____')
print(first_name.isalpha())
print(name_age.isalpha())
#all characters are alphabetic/letters
print('____')
print(first_name.isnumeric())
print(name_age.isnumeric())
print(str(age).isnumeric())
#all characters are numeric
print('____')
print(first_name.istitle())
print(name_age.istitle())
print(str(age).istitle())
#all characters are numeric
print('____')
print(first_name.islower()) #all characters are lower case
print(first_name.isupper()) #all characters are uper case
print('____')
print(first_name.startswith('T')) #starts with the substring
print(first_name.endswith('z')) #ends with the substring

True
True
____
True
False
____
False
False
True
____
True
True
False
____
False
False
____
True
True

##### Notice:
All methods used don't change the initial string, it just creates a copy and than change the copy.

### Lists

A list is a mutable data structure, and it has ordered elements. The elements are called items. Lists are defined by values between square brackets and separated by commas. [item1,item2,...]

In [160]:
one=1
numbers = ['zero', one, 2.0, '3', 4] 
#notice that every item, has a different type
print(type(numbers))
print(type(numbers[0]))
print(type(numbers[1]))
print(type(numbers[2]))
print(type(numbers[3]))
print(type(numbers[4]))

<class 'list'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>

In [129]:
len(numbers)

5

We can also iterate over lists' items using loops:

In [137]:
i=0
while i<len(numbers):
    print("Current number is ", numbers[i])
    i+=1

Current number is  zero
Current number is  1
Current number is  2.0
Current number is  3
Current number is  4

#### Inbuilt list functions

Lists are mutable, therefore, many aplications and inbuilt functions benefits from this property.

In [147]:
numbers.append('5.0') #adds a new item as the last one
numbers

['zero', 1, 2.0, '3', 4, '5.0']

In [150]:
numbers.remove('5.0') #deletes the first item corresponding to the argument
numbers

['zero', 1, 2.0, '3', 4]

In [161]:
print(numbers.pop(0)) #removes the value in the index passed, and return it
numbers

zero

[1, 2.0, '3', 4]

In [168]:
numbers.insert(0,'ZERO') #insert in the index passed, the item passed
numbers

['ZERO', 1, 2.0, '3', 4]

In [177]:
numbers.insert(5,5.0)
numbers

['ZERO', 1, 2.0, '3', 4, 5.0]

In [185]:
numbers.reverse() #reverse the items
numbers

[5.0, 4, '3', 2.0, 1, 'ZERO']

In [195]:
numbers.count('3') #count how many time the item appears in the list

1

In [202]:
more_numbers=[6,7,8,9]
numbers.extend(more_numbers) #append items of a iterable
numbers

[5.0, 4, '3', 2.0, 1, 'ZERO', 6, 7, 8, 9]

In [454]:
print(numbers.index('ZERO')) #finds the index of the item
print(numbers)

5
[5.0, 4, '3', 2.0, 1, 'ZERO', 6, 7, 8, 9]

We can also clear a list, popping or removing all the elements or simply by using the clear() method. The final result will be a empty list.

#### Operations with lists

There are some operations that can be made with lists. For example:

In [485]:
abc_list=['a','b','c','d','e']
list_123=[1,2,3,4,5]
list_678=[6,7,8,9,10]
list_randnum=[1,5,4,3,2]
less_num=[1,2,3,4]
print(abc_list*3) #concatenate three identical lists, similar to extend
print(list_123+abc_list) #similar to extend to different lists

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']
[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']

We can also make logical operations, like verifying if a values is in the list, or comparing

In [486]:
print('a' in abc_list)
print(list_123<list_678)
print(list_123<list_randnum)
print(list_123<less_num)

True
True
True
False

In the comparison, first the first two items are compared, and if they differ this determines the outcome of the comparison; if they are equal, the next two items are compared, and so on, until either sequence is exhausted.

#### Special cases: only int or float items
There are some functions and aplications that can be used only when every item type is int or float

In [224]:
list_num = [1,2.4,5,7,43,13.4,56,4.3,4.5,3.4,4,38,14]
list_num.sort() #sort numbers in ascending order
list_num

[1, 2.4, 3.4, 4, 4.3, 4.5, 5, 7, 13.4, 14, 38, 43, 56]

In [223]:
sum(list_num) #sum all values

196.0

In [225]:
max(list_num) #return the maximum value

56

In [226]:
min(list_num) #return the minimum value

1

It's important to see that most of the methods used change the original list. We must have caution with it, so we don't lose any data.

## Study of Indexes Manipulation

In many of the aplications, so far, indexes are a key concept. Thus, we shall take a closer look on how to manipulate them in lists, strings and loops.

#### Strings and Lists

In [362]:
str_ = "This is a string"
list_ = ['This','is','a','list','made','of','a','lot','of','strings']

We already now how to select a specific element in every structure showed above

In [297]:
print(str_[8])
print(list_[4])

a
made

If needed, Python lets us return intervals instead of single elements

In [298]:
print(str_[8:16])
print(list_[3:7])

a string
['list', 'made', 'of', 'a']

We can also navigate on elements backwards

In [363]:
#Individual element
print(str_[-11])
print(list_[-4])
#Interval (notice the order is reversed)
print(str_[-2:-12:-1])
print(list_[-4:-7:-1])

i
a
nirts a si
['a', 'of', 'made']

There are inbuilt functions that can be manipulated by indexes

In [366]:
print(str_.find('s'))
print(str_.find('s',5,8))

print(str_.count('s'))
print(str_.count('s',5,8))

print(list_.index('of'))
print(list_.index('of',7,13))
#the indexes indicates the star and end elements evaluated
#the restriction changed the element found

3
6
3
1
5
8

Another way to restrict the elements analysed is to restrict the interval before aplying the method, and gives us more tools to work with. For example, restrict the counting to a specific interval in lists.

In [355]:
print(str_.count('s'))
print(str_[5:8].count('s'))


#the count method in lists don't have the start and argument
#therefore, we might just restrict the interval before aplying it
print(list_.count('a')) 
print(list_[4:10].count('a'))

3
1
2
1

We can also define the step taken. Two by two, three by three, ...

In [365]:
abc='abcdefghijklmnopqrstuvwxyz'
nums=[0,1,2,3,4,5,6,7,8,9]
print(abc[::2])
print(abc[-1::-3])
print(abc[8:20:4])

print(nums[::2])
print(nums[-1::-3])
print(nums[8:20:4])

acegikmoqsuwy
zwtqnkheb
imq
[0, 2, 4, 6, 8]
[9, 6, 3, 0]
[8]

Simarly, the same can be done to another iterables ans structures we'll see next and the ones we have already seen.

In [376]:
for i in range(0,-10,-1):
        print(i,end=" ") #end default parameter is \n
        
print('')
        
for letter in abc[::5]:
        print(letter,end=" ")

print('')

for letter in abc[4:18:2]:
        print(letter,end=" ")

0 -1 -2 -3 -4 -5 -6 -7 -8 -9
a f k p u z
e g i k m o q

### Sets

A set is a collection of unordered data. It is iterable, mutable and that DOESN'T allow duplicate elements. It reminds the mathematical concept of set, but it's nor equivalent, since a set can't be another set's element.

Sets are declared as elements between {  } and separated by commas ','

In [522]:
set_ = set() #Null set
writers = {'Aldous Huxley', 'Ray Bradbury', 'George Orwell', 'William Gibson'}

print('')

print(type(set_))
print(type(writers))

print(set_)
print(writers)

<class 'set'>
<class 'set'>
set()
{'Aldous Huxley', 'Ray Bradbury', 'William Gibson', 'George Orwell'}

 As we saw earlier for lists, SETS can also store different types of variables.

In [491]:
astring='A string'
aint= 1
afloat= 1.0

aset={astring,aint,afloat,1.0,1,'A string'} #with the int value first
print(aset)

for item in aset:
    print(type(item),end=" ")

print('')

aset={astring,afloat,aint,1.0,1,'A string'} #with the float vlaue first
print(aset)

for item in aset:
    print(type(item),end=" ")
    
print('')

setof1s={1,1,1,1,1.0,1.0,1,1.0}
print(setof1s)
setof1s={1.0,1,1,1,1.0,1.0,1,1.0}
print(setof1s)

{1, 'A string'}
<class 'int'> <class 'str'>
{1.0, 'A string'}
<class 'float'> <class 'str'>
{1}
{1.0}

If we look carefully, we'll see that the set do not distinguish between the integer value (1) and the floatting value (1.0). Picking the first that appears.

We can also see, that since the variables have the same values that was also passed to the set, only one unique value will appear, since sets DON'T allow duplicates.

Therefore, for those two reasons, the set has only two value, a string and a integer or float value (depending on what comes first).

#### Nesting LISTS but not SETS
Notice that a set CAN'T store another set, neither a list.

In [426]:
set_test = {aset}

TypeError: unhashable type: 'set'

In [429]:
alist=[1.0,'list']

set_test = {alist}

TypeError: unhashable type: 'list'

#### Worth the stop

Unlike SETS, the LIST structure allows us to storage sets or even other lists on it.

In [442]:
alist=[1.0,'list',aset]
print(alist)

asecondlist=[1.0,'list',aset,alist]
print(asecondlist)

for item in asecondlist:
    print(type(item),end=" ")

[1.0, 'list', {1.0, 'A string'}]
[1.0, 'list', {1.0, 'A string'}, [1.0, 'list', {1.0, 'A string'}]]
<class 'float'> <class 'str'> <class 'set'> <class 'list'>

#### Returning to the study of sets

Since sets are not WELL ordered, most of indexing operations won't work. But we can still iterate over sets. When iterating, a temporary order is defined, but it has no reliability for the purpose of defining the position of a given element, it is used just for extracting information of the elements content.

In [450]:
writers[1]

TypeError: 'set' object is not subscriptable

In [451]:
for item in writers:
    print(item, type(item))

Manuel de Barros <class 'str'>
Kurt Vonnegut <class 'str'>
George Orwell <class 'str'>
Eduardo Galeano <class 'str'>

#### Manipulating sets with inbuilt functions

The functions are similar to the mathematical operations between sets: intersection; union; difference; verify if they are disjoint, subsets or supersets one to another... There are methods to manipulate the data inside of it to add or remove, or even to clear the set, making it has no elements, becoming a empty set.

In [523]:
print(writers)
writers.add('Thomas Morus')
print(writers)

{'Aldous Huxley', 'Ray Bradbury', 'William Gibson', 'George Orwell'}
{'Thomas Morus', 'Aldous Huxley', 'William Gibson', 'George Orwell', 'Ray Bradbury'}

In [524]:
print(writers)
writers.remove('William Gibson')
print(writers)

{'Thomas Morus', 'Aldous Huxley', 'William Gibson', 'George Orwell', 'Ray Bradbury'}
{'Thomas Morus', 'Aldous Huxley', 'George Orwell', 'Ray Bradbury'}

In [525]:
print(writers)
print(writers.pop()) #pop an arbitrary element
print(writers)

{'Thomas Morus', 'Aldous Huxley', 'George Orwell', 'Ray Bradbury'}
Thomas Morus
{'Aldous Huxley', 'George Orwell', 'Ray Bradbury'}

In [528]:
set_num={1,2,3}
print(set_num)
set_num.clear()
print(set_num)

{1, 2, 3}
set()

In [541]:
even={2,4,6,8}
odd={1,3,5,7,9}
set_num.update(odd,even)
print(set_num)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [560]:
prime={2,3,5,7}
fibonacci={1,2,3,5,8,13,21}

print(prime.difference(fibonacci)) #prime - fibonacci
print(fibonacci.difference(prime)) #fibonacci - prime

print(prime.symmetric_difference(fibonacci)) #(fibonacci - prime) +(prime - fibonacci)

print('____')

print(even.intersection(fibonacci))
print(even.intersection(odd))

{7}
{8, 1, 21, 13}
{1, 21, 7, 8, 13}
____
{8, 2}
set()

The methods above all have a .upgrade( ) version. This .upgrade will change the initial value with the operation result.

The following methods have no .upgrade version.

In [563]:
print(even.union(prime))
print(fibonacci.union(odd))

print('____')

print(odd.issubset(set_num))
print(prime.issubset(even))

print('____')

print(set_num.issuperset(even))
print((odd.union({2})).issuperset(prime))


print('____')

print(set_num.isdisjoint(fibonacci))
print(even.isdisjoint(odd))

{2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 5, 7, 8, 9, 13, 21}
____
True
False
____
True
True
____
False
True

### Dictionaries

A dictionary is a unordered collection, mutable, but different from a set, dictionaries have indexation. The indexes are called keys and the associated elements are called values. The dictionary don't allow duplicated key entries, the values will be overwritten.

To create a dictionary one has to use curly brackets {} separating two by two, keys and values, using ':' between the key and its value, and ',' between two pairs of key:value.

{key1:value1 , key2:value2 , ...}

In [567]:
dic={} #creates a empty dictionary
dic=dict() #also creates a empty dictionary
type(dic)

dict

In [699]:
dic={'name':'Thomaz','age':23,'nationality':'brazilian','occupation':'engineering student'}
type(dic)

dict

In [700]:
dic

{'name': 'Thomaz',
 'age': 23,
 'nationality': 'brazilian',
 'occupation': 'engineering student'}

Notice that, instead of indexing by integers, the indexes in dictionaries are defined by the programmer. Unless one of the indexes is defined as a integer value, taking the value of any integer valued index will result in a error since there's no order between each pair. In order to get a specific value, we must use its specific index.

In [701]:
dic[1]

KeyError: 1

In [702]:
dic

{'name': 'Thomaz',
 'age': 23,
 'nationality': 'brazilian',
 'occupation': 'engineering student'}

#### Accessing properties with inbuilt function

In [704]:
print(dic.keys())
print(dic.values())
print(dic.items())

dict_keys(['name', 'age', 'nationality', 'occupation'])
dict_values(['Thomaz', 23, 'brazilian', 'engineering student'])
dict_items([('name', 'Thomaz'), ('age', 23), ('nationality', 'brazilian'), ('occupation', 'engineering student')])

There are different ways to add new data in the dictionary

In [705]:
dic['sex']='Male' #If we choose a key that was not used yet a new item (key + value) will be created
dic

{'name': 'Thomaz',
 'age': 23,
 'nationality': 'brazilian',
 'occupation': 'engineering student',
 'sex': 'Male'}

In [706]:
dic['nationality']='Brazil' #Choosing a existing key, the respective value will be overwritten
print(dic['nationality'])
dic

Brazil

{'name': 'Thomaz',
 'age': 23,
 'nationality': 'Brazil',
 'occupation': 'engineering student',
 'sex': 'Male'}

In [707]:
dic.get('name') #returns the value of a given key

'Thomaz'

In [708]:
dic.setdefault('current_job') #insert a new item with the given key and the default value 'None'
dic

{'name': 'Thomaz',
 'age': 23,
 'nationality': 'Brazil',
 'occupation': 'engineering student',
 'sex': 'Male',
 'current_job': None}

In [709]:
dic.popitem() #removes the last added item on the dictionary and return its key and value as 2-tuple.

('current_job', None)

In [710]:
print(dic.pop('sex')) #removes the key and its value and return the value
dic

Male

{'name': 'Thomaz',
 'age': 23,
 'nationality': 'Brazil',
 'occupation': 'engineering student'}

The method above can be used to change the key of item by poping it and using the returned value to create a new item.

In [711]:
dic['first_name']=dic.pop('name') #changes the key from 'name' to 'first_name'
dic

{'age': 23,
 'nationality': 'Brazil',
 'occupation': 'engineering student',
 'first_name': 'Thomaz'}

We can create a dictionary using the .fromkey() method

In [724]:
keys = list(dic.keys())
new_person = {}
new_person.update(new_person.fromkeys(keys)) #Creates a new dict with the given keys and the default value 'None'
new_person

{'age': None, 'nationality': None, 'occupation': None, 'first_name': None}

#### NEST dictionaries 
Similarly to the list, we can NEST other structures in dictionaries: from other dicionaries to both lists and sets.

In [712]:
list_abc = ['a','b','c']
set_123 = {1,2,3}
dict_ = {'a':8,'d':4,'e':5,'list':list_abc,'set':set_123,'dictionary': dic}
dict_

{'a': 8,
 'd': 4,
 'e': 5,
 'list': ['a', 'b', 'c'],
 'set': {1, 2, 3},
 'dictionary': {'age': 23,
  'nationality': 'Brazil',
  'occupation': 'engineering student',
  'first_name': 'Thomaz'}}

We can also NEST dictionaries inside lists, but not inside sets.

In [713]:
list_abc.append(dict_)
list_abc

['a',
 'b',
 'c',
 {'a': 8,
  'd': 4,
  'e': 5,
  'list': [...],
  'set': {1, 2, 3},
  'dictionary': {'age': 23,
   'nationality': 'Brazil',
   'occupation': 'engineering student',
   'first_name': 'Thomaz'}}]

In [714]:
set_123.add(dict_)

TypeError: unhashable type: 'dict'

To get values inside nested dictionaries can be a tricky task. To acomplish such a thing, we have to define all indexes to the specific value.

Suppose we want to get the value stored in the key 'occupation' of the dic dictionary, but we want to extract it from the dict_ dictionary. We must inform all the keys like a path to the data we want.

In [715]:
dict_['dictionary']['occupation']

'engineering student'

#### Looping over dictionaries
If we try to make a simple for loop in a dictionary, we might just get the keys, that we can use to get the value.

In [775]:
for k in dic:
    print("The key is {} and the value is {}".format(k,dic[k]))

The key is age and the value is 23
The key is nationality and the value is Brazil
The key is occupation and the value is engineering student
The key is first_name and the value is Thomaz

But if we want to know also the number of iterations, therefore, the index, we can use enumerate() method

In [778]:
for i,k in enumerate(dic):
    print("This is the iteration #{}. The key is {} and the value is {}".format(i,k,dic[k]))

This is the iteration #0. The key is age and the value is 23
This is the iteration #1. The key is nationality and the value is Brazil
This is the iteration #2. The key is occupation and the value is engineering student
This is the iteration #3. The key is first_name and the value is Thomaz

### Tuples

They are similar to LISTS: a collection of ordered elements separated by commas. But, unlike LISTS, TUPLES are immutable.

A tuple is declared between parentheses ( ... , ... )

In [727]:
tuple_=tuple()
print(type(tuple_))
tuple_=()
print(type(tuple_))

<class 'tuple'>
<class 'tuple'>

In [729]:
variable = 23
random_tuple=('Thomaz',23,14.47,variable)
random_tuple

('Thomaz', 23, 14.47, 23)

As we can see, duplicated values are allowed.
But we CAN'T change any of the elements individually inside the tuple simply by using its index, nor add new items without changing all the strucutre.

In [733]:
random_tuple[0]

'Thomaz'

In [734]:
random_tuple[0]='Loff'

TypeError: 'tuple' object does not support item assignment

In [738]:
random_tuple=('Loff',23,14.47,variable) #We have to redefine the variable
random_tuple

('Loff', 23, 14.47, 23)

#### Inbuilt operations for Tuples
There are only two main methods for tuples in Python: count() and index()

In [740]:
random_tuple.count(23) #Total of equal elements that has the value 23

2

In [743]:
print(random_tuple.index(23)) #The index of the first elements that has the value 23
print(random_tuple.index(23,3)) #The second argument defines the initial index of evaluation

1
3

#### Nested tuples: storaging other data structures inside tuples

As we see, all structures can store each other, the set being the exception.

In [764]:
set__= {atuple}
set__

TypeError: unhashable type: 'list'

In [765]:
print(alist)
print(aset)
print(dict_)

print('____')

atuple=(1,2.0,'Three',variable, alist, aset,dic)
print(atuple)

print('____')

alist.append(atuple)
print(alist)

print('____')

dict_['tuple']=atuple
print(dict_)

[1.0, 'list', {1.0, 'A string'}, (1, 2.0, 'Three', 23, [...], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'}), (1, 2.0, 'Three', 23, [...], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'}), (1, 2.0, 'Three', 23, [...], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'}), (1, 2.0, 'Three', 23, [...], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'}), (1, 2.0, 'Three', 23, [...], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'})]
{1.0, 'A string'}
{'a': 8, 'd': 4, 'e': 5, 'list': ['a', 'b', 'c', {...}], 'set': {1, 2, 3}, 'dictionary': {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'}, 'tuple': (1, 2.0, 'Three', 23, [1.0, 'list', {1.0, 'A string'}, (1, 2.0, 'Three', 23, [...], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'}), (1, 2.0, 'Three', 23, [...], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'}), (1, 2.0, 'Three', 23, [...], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'}), (1, 2.0, 'Three', 23, [...], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'}), (...)], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'})}
____
(1, 2.0, 'Three', 23, [1.0, 'list', {1.0, 'A string'}, (1, 2.0, 'Three', 23, [...], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'}), (1, 2.0, 'Three', 23, [...], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'}), (1, 2.0, 'Three', 23, [...], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'}), (1, 2.0, 'Three', 23, [...], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'}), (1, 2.0, 'Three', 23, [...], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'})], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'})
____
[1.0, 'list', {1.0, 'A string'}, (1, 2.0, 'Three', 23, [...], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'}), (1, 2.0, 'Three', 23, [...], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'}), (1, 2.0, 'Three', 23, [...], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'}), (1, 2.0, 'Three', 23, [...], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'}), (1, 2.0, 'Three', 23, [...], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'}), (1, 2.0, 'Three', 23, [...], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'})]
____
{'a': 8, 'd': 4, 'e': 5, 'list': ['a', 'b', 'c', {...}], 'set': {1, 2, 3}, 'dictionary': {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'}, 'tuple': (1, 2.0, 'Three', 23, [1.0, 'list', {1.0, 'A string'}, (1, 2.0, 'Three', 23, [...], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'}), (1, 2.0, 'Three', 23, [...], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'}), (1, 2.0, 'Three', 23, [...], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'}), (1, 2.0, 'Three', 23, [...], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'}), (1, 2.0, 'Three', 23, [...], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'}), (...)], {1.0, 'A string'}, {'age': 23, 'nationality': 'Brazil', 'occupation': 'engineering student', 'first_name': 'Thomaz'})}

#### From Tuple to List to Tuple: allowing operations

We are able to convert tuples in lists and back.This allows us to make some operations.

In [772]:
tuple_abc=('a','b','c','d','e')
print(tuple_abc)
list_abc=list(tuple_abc)
list_abc.append('f')
tuple_abc=tuple(list_abc)
tuple_abc

('a', 'b', 'c', 'd', 'e')

('a', 'b', 'c', 'd', 'e', 'f')

In [773]:
tuple_abc=('a','b','c','d','e')
print(tuple_abc)
list_abc=list(tuple_abc)
list_abc.remove('c')
tuple_abc=tuple(list_abc)
tuple_abc

('a', 'b', 'c', 'd', 'e')

('a', 'b', 'd', 'e')