# Starting with basics
## First Step: 
- Basic Arithmetic;
- DataTypes;
- Variables;
- Syntax;
+ Type Casting.

### Numbers & Basic Arithmetic

#### Sum

In [10]:
1+1

2

#### Subtraction

In [11]:
9-14

-5

#### Multiplication

In [2]:
7*2

14

#### Division

In [3]:
8/3

2.6666666666666665

#### Integer Division

In [14]:
14//4

3

#### Rest of Division (Mod)

In [15]:
14%4

2

In [6]:
56.4%2.1

1.7999999999999963

#### Power

In [17]:
8**2

64

### Data Types

#### Integers

In [19]:
type(1)

int

#### Strings

In [20]:
type('Unalome')

str

#### Floating values

In [22]:
type(0.25)

float

In [1]:
type(14.)

float

#### Complex numbers

In [6]:
type((-1)**(1/2))

complex

In [10]:
type(14+74j)

complex

In [11]:
type(1j)

complex

#### Booleans

In [24]:
type(True)

bool

In [25]:
type(False)

bool

#### None

In [26]:
type(None)

NoneType

In some cases, we'll see something as NaN, this is not a Type, it actually means "Not a number".

### Strings

It is possible to define Strings using simple or double quotation marks

In [29]:
"Hello World"

'Hello World'

In [30]:
'Hallo Welt'

'Hallo Welt'

### Variable Assignment

We don't discriminate the type of the variable, only name it and assign its value.

In [50]:
numA = 7
numB = 27.8
name = 'Thomaz'

In [41]:
type(numA)

int

In [42]:
type(numB)

float

In [38]:
type(name)

str

#### Operating with Variables

In [48]:
print(numA*numB)

3725.2000000000003

In [51]:
print(numA*name)

ThomazThomazThomazThomazThomazThomazThomaz

In [54]:
print((numB+numA)/numB)

1.251798561151079

### More on strings

In [2]:
first_name = "Thomaz"
middle_name = "Loff"
last_name = "da Silva"
print("Hello, my name is {} {} {}".format(first_name,middle_name,last_name))

Hello, my name is Thomaz Loff da Silva

In [56]:
print("{middle}, {first} {middle}!".format(first = first_name, middle = middle_name))

Loff, Thomaz Loff!

In [3]:
len(last_name) #gives us the length of the string (number of characters)

8

In [58]:
last_name[4]

'i'

In [65]:
last_name[3:8]

'Silva'

In [67]:
last_name[3:8:2]

'Sla'

In [89]:
last_name[-1:0:-1]

'avliS a'

### Next steps

Basic data structures, conditional structures and loops

In [14]:
l = ['n',1,2.3,'f',4,'h',last_name]
type(l)

list

In [15]:
d = {'name':'Thomaz','age':23,'favorite_number':14}
type(d)

dict

In [122]:
s = {'a',3,5,7,'f','v'}
type(s)

set

In [125]:
t = (1,2,3,'e','h')
type(t)

tuple

In [129]:
a=2
if(a<3):
    print(a-10)
else:
    print(a+10)

-8

In [107]:
for i in range(10):
        print(i)
print("Finished")

0
1
2
3
4
5
6
7
8
9
Finished

In [111]:
i=0
while i<10:
    print(i)
    i+=1
print("Finished")

0
1
2
3
4
5
6
7
8
9
Finished

### Type Conversion/Type Casting

In Python, it is possible to transform a variable type in another in easy ways.
One can achieve it by to different means: explicitly or implicitly.

#### Explicitly (also called as Type Casting)
It is necessary to use an implicit function of Python, like int(); str(); float(); ...

In [95]:
a = 5
b = 5.0
c = "5"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [98]:
a = float(a) #We're changing the variable value
type(a)

float

In [99]:
b = str(b) #We're changing the variable value
type(b)

str

In [101]:
c = int(c) #We're changing the variable value
type(c)

int

When type casting, data loss may occur as follows. This happens because we are forcing a datatype to fit in another properties and levels of complexity.

In [105]:
d = 7.8
print(d,type(d))
d = int(d)
print(d,type(d))

7.8 <class 'float'>
7 <class 'int'>

In [18]:
n = "1.345"
print(n,type(n))
n = float(n)
print(n,type(n))

1.345 <class 'str'>
1.345 <class 'float'>

In [19]:
a = -5
b = -8.95
a = complex(a)
b = complex(b)
print(a)
print(b)

(-5+0j)
(-8.95+0j)

In [40]:
c = 2.5 + 1.4j
d = 3
e = 5.4
print('c',type(c))
print('d',type(d))
print('e',type(e))
print('c+d =',c+d,type(c+d))
print('c+e =',c+e,type(c+e))
c = str(c)
print(c,type(c))

c <class 'complex'>
d <class 'int'>
e <class 'float'>
c+d = (5.5+1.4j) <class 'complex'>
c+e = (7.9+1.4j) <class 'complex'>
(2.5+1.4j) <class 'str'>

The conversion can be unsuccesful, as shown:

In [117]:
n = "1,345"
print(n,type(n))
n = float(n)
print(n,type(n))

1,345 <class 'str'>

ValueError: could not convert string to float: '1,345'

In [120]:
n = "1.345"
print(n,type(n))
n = int(n)
print(n,type(n))

1.345 <class 'str'>

ValueError: invalid literal for int() with base 10: '1.345'

In [121]:
n = "a"
print(n,type(n))
n = float(n)
print(n,type(n))

a <class 'str'>

ValueError: could not convert string to float: 'a'

In [125]:
n = "a"
print(n,type(n))
n = int(n)
print(n,type(n))

a <class 'str'>

ValueError: invalid literal for int() with base 10: 'a'

In some cases, where not able to execute an operation directly. The Python interpreter may have difficulties on undersanting what we except. For exemple, if we try to sum a number in string type to a number in int or float type

In [42]:
s = "5"
i = 2
print(s+i)

TypeError: can only concatenate str (not "int") to str

In [45]:
k = 2 + 8j
k = int(k)

TypeError: can't convert complex to int

In [46]:
k = 2 + 8j
k = float(k)

TypeError: can't convert complex to float

In orther to achieve it, one must first do a Type Casting operation, and only then, sum them.

In [128]:
s = "5"
i = 2
s = int(s)
print(s+i)

7

#### Implicitly

The Python interpreter avoid data loss. And, therefore, if needed it will promote a lower datatype, as int, to a higher one, like float. It may happen when one use a built in arithmetic operation, function or method.

Note that, if we operate any arithmetic operation between a float and a int value, the result is going to have a float type.

In [94]:
a = 2
b = 3.0
print("a",type(a))
print("b",type(b))
print("Sum",type(a+b)) #even though 5 is a whole number
print("Multiplication a*b =",a*b,type(a*b)) #even though 6 is a whole number

a <class 'int'>
b <class 'float'>
Sum <class 'float'>
Multiplication a*b = 6.0 <class 'float'>

Note that something interesting can happen when both values are int. The result of the operation is int in the sum, subtraction and multiplication, but the result of division is always a float, even if it is a whole number.

Mathematically speaking, that makes sense because the division operation is not well defined in the integers set.

c = 8
d = 5
e = 1
print("c",type(c))
print("d",type(d))
print("e",type(e))
print("Sum c+d =",c+d,type(c+d))
print("Subtraction c-d =",c-d,type(c-d))
print("Multiplication c*d =",c*d,type(c*d))
print("Division c/d =",c/d,type(c/d))
print("Division c/e =",c/e,type(c/e))

Similarly, we can se that from integers ans float numbers we can get a complex numbers simply by taking the square root of a negative number, and them, the type wil be, implicitly, convert to a complex type

In [23]:
a = -5
b = -0.4
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [24]:
a = a**(1/2)
b = b**(1/2)
print(a,type(a))
print(b,type(b))

(1.3691967456605067e-16+2.23606797749979j) <class 'complex'>
(3.8726732145403873e-17+0.6324555320336759j) <class 'complex'>